<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <aspNetCore processPath="dotnet" arguments=".\VillaCollective.Web.UI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="Redirects umbraco logo to client's logo on login page" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="umbraco/assets/img/login.svg$" />
          </conditions>
          <action type="Redirect" url="/images/background-images/login-screen_1.jpg" appendQueryString="false" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="logs">
    <system.webServer>
      <directoryBrowse enabled="false" />
      <staticContent>
        <clear />
      </staticContent>
    </system.webServer>
  </location>
</configuration>