////
//// DEBUG
////

$debugMode: false;
$debugEmptyElements: false;
$debugLinkHash: true;
$debugLinkTitle: true;
$debugLinkTarget: true;
$debugStyle: true;
$debugImgAlt: true;
$debugListChild: true;
$debugTable: true;
$debugForms: true;