<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <caching enabled="true" enableKernelCache="true" />
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/json" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/wasm" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/wasm" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <rewrite>
      <!--<rewriteMaps configSource="config\urlrewrite\maps.config" />-->
      <rules>
        <rule name="CatchAllForceHttps" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

        <!--<rule name="Filemanager images opti" stopProcessing="true">
          <match url="^api/ImageManager/GetImage$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="path=(.*)" />
          </conditions>
          <action type="Redirect" url="images{C:1}" appendQueryString="false" />
        </rule>-->
        
        <!--<rule name="Filemanager images opti" stopProcessing="true">
          <match url="^api/ImageManager/GetImage$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="path=(.*)(&amp;time=.+)(.*)" />
          </conditions>
          <action type="Redirect" url="images{C:1}?width=200&amp;height=200&amp;rmode=max" appendQueryString="false" />
        </rule>-->

        <rule name="Lower Case URLs" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" pattern="_content/(.*)" negate="true" />
            <add input="{URL}" pattern="_framework/(.*)" negate="true" />
            <add input="{URL}" pattern="_vs/(.*)" negate="true" />
            <add input="{URL}" pattern="api/(.*)" negate="true" />
            <add input="{URL}" pattern="css/(.*)" negate="true" />
            <add input="{URL}" pattern="email-templates/(.*)" negate="true" />
            <add input="{URL}" pattern="favicons/(.*)" negate="true" />
            <add input="{URL}" pattern="images/(.*)" negate="true" />
            <add input="{URL}" pattern="imgs/(.*)" negate="true" />
            <add input="{URL}" pattern="js/(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Remove Server">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>

        <!--<rule name="OptiBundles CacheControl" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="public,max-age=7776000,public" />
          <conditions>
            <add input="{URL}" pattern="opti-bundles/(.*)" />
          </conditions>
        </rule>-->

        <!--<rule name="Cookies Add SameSite" preCondition="Cookies No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=Strict" />
        </rule>
        <preConditions>
          <preCondition name="Cookies No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=Strict" negate="true" />
          </preCondition>
        </preConditions>-->
      </outboundRules>
    </rewrite>
    <!--<rewrite>
      <rewriteMaps configSource="config\urlrewrite\maps.config" />
      <rules configSource="config\urlrewrite\rules.config" />
      <outboundRules configSource="config\urlrewrite\outbound.config" />
    </rewrite>-->
    <!--<httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="401" path="error-problem.htm" responseMode="File" />
      <error statusCode="403" path="error-problem.htm" responseMode="File" />
      <error statusCode="404" path="error-notfound.htm" responseMode="File" />
      <error statusCode="405" path="error-problem.htm" responseMode="File" />
      <error statusCode="406" path="error-problem.htm" responseMode="File" />
      <error statusCode="412" path="error-problem.htm" responseMode="File" />
      <error statusCode="500" path="error-problem.htm" responseMode="File" />
      <error statusCode="501" path="error-problem.htm" responseMode="File" />
      <error statusCode="502" path="error-problem.htm" responseMode="File" />
      <error statusCode="503" path="App_Offline_TEMP.htm" responseMode="File" />
    </httpErrors>-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="0" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="base-uri 'self'; block-all-mixed-content; default-src 'self'; img-src data: https:; object-src 'none'; script-src 'self' *.instagram.com *.vimeo.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; frame-src 'self' *.facebook.com *.vimeo.com *.instagram.com *.youtube.com *.linkedin.com; upgrade-insecure-requests; " />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="Permissions-Policy" value="accelerometer=(), autoplay=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()" />
        <!--Cache header isn't needed as set on page bases-->
        <!--<add name="Cache-Control" value="no-cache"/>-->
        <add name="Blazor-Environment" value="Local" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <!--max request size of 100MB (the value is bytes)-->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Local" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>