<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<appSettings>
    <add key="enableControlCache" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="environment" value="__Environment__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>

  <connectionStrings>
    <add name="Entities" connectionString="__Entities__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>

  <system.web>
    <customErrors xdt:Transform="Remove" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>-->

  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes(errorMode,existingResponse)" />-->
    <httpProtocol>
      <customHeaders>
        <add name="Blazor-Environment" value="__Environment__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
      </customHeaders>
    </httpProtocol>
    <aspNetCore>
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="__Environment__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>

</configuration>