@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Start Footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="footer-logo">
                        <a>
                            <img src="@Url.Content("~/images/footer-logo.png")" alt="Logo" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="row">
                        <div class="col-7 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="footer-content">
                                <h5>DESTINATIONS</h5>
                                <ul>
                                    <li><a href="individual-collection.html">Individual Collection</a></li>
                                    <li><a>Greece</a></li>
                                    <li><a>Italy</a></li>
                                    <li><a>France & Corsica</a></li>
                                    <li><a>Morocco</a></li>
                                    <li><a>Spain & Balaerics</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-5 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-4">
                            <div class="footer-content">
                                <h5>EXPLORE</h5>
                                <ul>
                                    <li><a href="collections.html">Collections</a></li>
                                    <li><a href="journal.html">Journal</a></li>
                                    <li><a>FAQs</a></li>
                                    <li><a>Instagram</a></li>
                                    <li><a>Facebook</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-5 col-xxl-4">
                            <div class="footer-content">
                                <h5>VILLA COLLECTIVE</h5>
                                <ul>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a>Property Owners</a></li>
                                    <li><a href="sustainability.html">Sustainability</a></li>
                                    <li><a>Get in touch</a></li>
                                    <li><a>Terms & Conditions</a></li>
                                    <li><a>Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="footer-content">
                        <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                        <form>
                            <div class="subscribe-form">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter email for updates...">
                                <a class="thm-btn-2">SUBSCRIBE</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="footer-btm">
                        <ul>
                            <li>
                                <a>
                                    <img src="@Url.Content("~/images/VC.png")" alt="VC" class="img-fluid">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="@Url.Content("~/images/for-the-planet.png")" alt="For The Planet" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex align-items-end justify-content-end">
                    <div class="footer-copyright">
                        <p><a href="@Url.Content("~/")">&copy;@DateTime.Now.Year.ToString() Villa Collective</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->