<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85fbab39-7b09-4dcb-acc7-a3fc009e5951" Alias="Home - Middle Content - Block Grid" Level="1">
  <Info>
    <Name>Home - Middle Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "95bc75a8-374f-4235-999b-d588e92fd3d2",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html",
      "stylesheet": null,
      "label": "Headline ({{headline | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fd4100ca-c7a7-47d5-8cb5-201581a1c891"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fa9cafdf-9726-477e-8212-9c82e0206845",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html",
      "stylesheet": null,
      "label": "Image",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fd4100ca-c7a7-47d5-8cb5-201581a1c891"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e0f4e185-267b-429e-810d-ce9ef2df1123",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html",
      "stylesheet": null,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fd4100ca-c7a7-47d5-8cb5-201581a1c891"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": 12,
      "areas": [
        {
          "key": "9ea3d87d-2a43-4012-8bb0-66542b40f431",
          "alias": "left",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        },
        {
          "key": "7710cf1e-aa8c-4c51-aa92-e1c1315ffa41",
          "alias": "right",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ea28dde4-ea54-4e87-ae25-7e55ebf7fae6",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html",
      "stylesheet": null,
      "label": "Two Column Layout",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": null
    }
  ],
  "BlockGroups": [
    {
      "key": "fd4100ca-c7a7-47d5-8cb5-201581a1c891",
      "name": "Demo Blocks"
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": 1
  },
  "UseLiveEditing": true,
  "MaxPropertyWidth": null,
  "GridColumns": 12,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>