<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58899f4d-4c63-4f7b-94a0-ceca2beca9e0" Alias="Home - Top Button Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Home - Top Button Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "medium"
}]]></Config>
</DataType>