<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e05b423-7453-45ab-9a1e-d3821f25fd44" Alias="Journal Article Types" Level="1">
  <Info>
    <Name>Journal Article Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Inspiration"
    },
    {
      "id": 2,
      "value": "Travel Guides"
    },
    {
      "id": 3,
      "value": "Food & Drink"
    },
    {
      "id": 4,
      "value": "Activities & Adventure"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>