<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dba6b10f-a19b-462a-bfcc-37ef10ce90b9" Alias="Press Entity - Logo - Media Picker" Level="1">
  <Info>
    <Name>Press Entity - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/92b360ed7f224457a34530bebb4fc7e7",
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>