<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a206fb5d-f35b-4ded-9c36-0b247221af6a" Alias="Press Entity - Description - Textarea" Level="1">
  <Info>
    <Name>Press Entity - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200,
  "Rows": 3
}]]></Config>
</DataType>