<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db4be70d-ed4f-42df-84a4-1f9e47e3517a" Alias="Service - Background Color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Service - Background Color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": true
}]]></Config>
</DataType>