<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d240d346-1beb-44c3-872d-75eabc77b57d" Alias="Team Member - Photo - Media Picker" Level="1">
  <Info>
    <Name>Team Member - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/1f365d5075164bcb8eba7c4bf51f8858",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>