<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="brandon.osborne@coderpro.net">
  <Info>
    <Comments />
    <Name>Brandon Osborne</Name>
    <Username>brandon.osborne@coderpro.net</Username>
    <Email>brandon.osborne@coderpro.net</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEP3IvyfnHc5z/VvR5Z4QapGBckvh9IF8axIaPmHMoPlyPxHqCcpxYNIlvv81bxnZkA==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>