<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa9eb501-31bb-4996-95b8-aff7832e2565" Alias="aboutUs" Level="1">
  <Info>
    <Name>About Us</Name>
    <Icon>icon-medal color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ed827c60-07d4-4c8c-8ab7-02b2abb811ce">commonSettings</Composition>
      <Composition Key="e88a6a9c-5983-4f44-a115-55f93acd494f">heroSection</Composition>
    </Compositions>
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9d52e72d-66cf-43f0-aca6-874f9b75aff4">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="048df255-c7b2-4789-b0ba-4627312ea726" SortOrder="0">team</ContentType>
    <ContentType Key="dbb96f60-54cf-482b-8a72-dd76ff6087ee" SortOrder="1">services</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e4a70b88-0d0b-48e8-a5ac-f60762583e4f</Key>
      <Name>Bottom Content</Name>
      <Alias>howBottomContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="how1">How?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19b28e39-146f-4d15-a07f-db778ecb8343</Key>
      <Name>Line 1</Name>
      <Alias>howLine1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="how1">How?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>974e2017-b5e9-4e1f-b8f6-8b0cd312a43a</Key>
      <Name>Line 2</Name>
      <Alias>howLine2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="how1">How?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bfad81c-9b6e-453b-8439-784823ec7881</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="centralBlock">Central Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f68bde4a-d855-4850-a1da-dc0b722f1510</Key>
      <Name>Top Content</Name>
      <Alias>topContent</Alias>
      <Definition>54bd4c5e-006b-433a-85d9-1f3c4377fda6</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="topBlock">Top Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3e25692-ff16-415b-afcc-212b71ed961c</Key>
      <Name>Content</Name>
      <Alias>whyContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="why1">Why?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee2c74c6-bb24-44d5-bf1a-1fbfb8991c6d</Key>
      <Name>Header Text</Name>
      <Alias>whyHeaderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="why1">Why?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03f3508e-a612-469b-a429-9d8e427efdf1</Key>
      <Caption>How?</Caption>
      <Alias>how1</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>59f5fdf1-21df-4a2d-9690-b86295c7891c</Key>
      <Caption>Top Block</Caption>
      <Alias>topBlock</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>987f363d-44a3-4276-9d3b-c5b4780b10e4</Key>
      <Caption>Why?</Caption>
      <Alias>why1</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>d1f834ac-8cba-42da-a38b-d7054e89bcda</Key>
      <Caption>Central Block</Caption>
      <Alias>centralBlock</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>