<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="617c7b3d-18cd-459d-97c1-f8c47158251f" Alias="collections" Level="1">
  <Info>
    <Name>Collections</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ed827c60-07d4-4c8c-8ab7-02b2abb811ce">commonSettings</Composition>
      <Composition Key="e88a6a9c-5983-4f44-a115-55f93acd494f">heroSection</Composition>
    </Compositions>
    <DefaultTemplate>Collections</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7678abd-2362-4e0c-8c25-0e092602ce7d">Collections</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>