<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="448b2d5b-34b8-44e3-91ae-08adf7d1b5d4" Alias="destinations" Level="1">
  <Info>
    <Name>Destinations</Name>
    <Icon>icon-paper-plane color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ed827c60-07d4-4c8c-8ab7-02b2abb811ce">commonSettings</Composition>
      <Composition Key="e88a6a9c-5983-4f44-a115-55f93acd494f">heroSection</Composition>
    </Compositions>
    <DefaultTemplate>Destinations</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4aadeefe-7073-4ba7-b4ce-6ab0f3000ead">Destinations</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>