<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e08d4b55-2552-4733-bed2-2b820b6291b2" Alias="journal" Level="1">
  <Info>
    <Name>Journal</Name>
    <Icon>icon-book-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ed827c60-07d4-4c8c-8ab7-02b2abb811ce">commonSettings</Composition>
      <Composition Key="e88a6a9c-5983-4f44-a115-55f93acd494f">heroSection</Composition>
    </Compositions>
    <DefaultTemplate>Journal</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cae8e81-0eda-4579-889f-5dac6969d070">Journal</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="febf14f1-6bc1-427f-8f28-d9780bb3001f" SortOrder="0">journalArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c3e55078-2142-41ba-ade9-b8d72ac1549d</Key>
      <Name>Top Content</Name>
      <Alias>topContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="topBlock">Top Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>602f7cd2-04bc-423c-a383-b47014210b3a</Key>
      <Caption>Top Block</Caption>
      <Alias>topBlock</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>