////
//// CARD
////

.card {
	$self: &;

	background-color: $secondary-color;
	border-radius: 4px;
	position: relative;
	box-sizing: border-box;
	margin: 16px auto;
	border: 1px solid $mono-300;
	max-width: 800px;
	width: calc(100% - 32px);

	&--alt {
		background-color: rgba($mono-50, 0.6);
		background-color: rgba($tertiary-color, 0.3);
		background-color: $tertiary-color;
		background-color: $mono-50;

		#{$self}__footer {
			background-color: $mono-50;
		}
	}

	&__header {
		position: relative;

		img {
			max-width: 100%;
			width: 100%;
			vertical-align: middle;
			border-radius: 4px 4px 0 0;
		}
	}

	&__content {
		padding: 16px;

		@include breakpoint(sm) {
			padding: 24px;
		}
	}

	&__footer {
		padding: 16px;
		background-color: $mono-50;
		border-top: 1px solid $mono-300;
		border-radius: 0 0 4px 4px;

		@include breakpoint(sm) {
			padding: 16px 24px;
		}
	}



	&__title {
		margin-bottom: 16px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__description {
		//padding-right: 16px;

		@include breakpoint(sm) {
			padding-right: 24px;
		}
	}

	&__email {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M486.4 59.733H25.6c-14.138 0-25.6 11.461-25.6 25.6v341.333c0 14.138 11.461 25.6 25.6 25.6h460.8c14.138 0 25.6-11.461 25.6-25.6V85.333c0-14.138-11.461-25.6-25.6-25.6zm8.533 366.934a8.533 8.533 0 0 1-8.533 8.533H25.6a8.533 8.533 0 0 1-8.533-8.533V85.333A8.533 8.533 0 0 1 25.6 76.8h460.8a8.533 8.533 0 0 1 8.533 8.533v341.334z"/><path d="M470.076 93.898a8.53 8.53 0 0 0-6.229 1.966L266.982 261.239a17.068 17.068 0 0 1-21.965 0L48.154 95.863a8.535 8.535 0 0 0-10.974 13.073l196.864 165.367c12.688 10.683 31.224 10.683 43.913 0L474.82 108.937a8.532 8.532 0 0 0 1.049-12.023 8.524 8.524 0 0 0-5.793-3.016zM164.124 273.13a8.535 8.535 0 0 0-8.229 2.65l-119.467 128a8.532 8.532 0 1 0 12.476 11.639l119.467-128a8.532 8.532 0 0 0-4.247-14.289zM356.105 275.78a8.534 8.534 0 1 0-12.476 11.639l119.467 128a8.533 8.533 0 1 0 12.476-11.64L356.105 275.78z"/></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}

	&__telephone {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.076 512.076"><path d="M499.639 396.039l-103.646-69.12c-13.153-8.701-30.784-5.838-40.508 6.579l-30.191 38.818a12.903 12.903 0 0 1-16.546 3.482l-5.743-3.166c-19.038-10.377-42.726-23.296-90.453-71.04s-60.672-71.45-71.049-90.453l-3.149-5.743a12.92 12.92 0 0 1 3.413-16.606l38.792-30.182c12.412-9.725 15.279-27.351 6.588-40.508l-69.12-103.646C109.12 1.056 91.25-2.966 77.461 5.323L34.12 31.358A61.136 61.136 0 0 0 6.242 67.539c-15.607 56.866-3.866 155.008 140.706 299.597 115.004 114.995 200.619 145.92 259.465 145.92a151.181 151.181 0 0 0 40.107-5.239 61.079 61.079 0 0 0 36.181-27.878l26.061-43.315c8.301-13.792 4.281-31.673-9.123-40.585zm-5.581 31.829l-26.001 43.341a44.103 44.103 0 0 1-26.027 20.173c-52.497 14.413-144.213 2.475-283.008-136.32S8.29 124.559 22.703 72.054a44.17 44.17 0 0 1 20.198-26.061l43.341-26.001c5.983-3.6 13.739-1.855 17.604 3.959l37.547 56.371 31.514 47.266c3.774 5.707 2.534 13.356-2.85 17.579l-38.801 30.182c-11.808 9.029-15.18 25.366-7.91 38.332l3.081 5.598c10.906 20.002 24.465 44.885 73.967 94.379 49.502 49.493 74.377 63.053 94.37 73.958l5.606 3.089c12.965 7.269 29.303 3.898 38.332-7.91l30.182-38.801c4.224-5.381 11.87-6.62 17.579-2.85l103.637 69.12c5.818 3.862 7.563 11.622 3.958 17.604zM291.161 86.39c80.081.089 144.977 64.986 145.067 145.067 0 4.713 3.82 8.533 8.533 8.533s8.533-3.82 8.533-8.533c-.099-89.503-72.63-162.035-162.133-162.133-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z" transform="translate(-1 -1)"/><path d="M291.161 137.59c51.816.061 93.806 42.051 93.867 93.867a8.533 8.533 0 0 0 17.066 0c-.071-61.238-49.696-110.863-110.933-110.933-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z" transform="translate(-1 -1)"/><path d="M291.161 188.79c23.552.028 42.638 19.114 42.667 42.667a8.533 8.533 0 0 0 17.066 0c-.038-32.974-26.759-59.696-59.733-59.733-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z" transform="translate(-1 -1)"/></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}

	&__address {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.998 511.998"><path d="M167.974 351.473c21.086 29.73 42.138 56.32 56.09 73.446 2.031 2.492 3.934 4.804 5.777 7.031h-42.103c-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533H324.27c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533h-42.103c1.843-2.227 3.746-4.54 5.786-7.031 13.943-17.067 34.987-43.716 56.081-73.446a749.756 749.756 0 0 0 56.371-90.854c17.425-34.219 26.266-62.626 26.266-84.437a170.55 170.55 0 0 0-49.98-120.841 8.532 8.532 0 1 0-12.075 12.057 153.55 153.55 0 0 1 44.988 108.783c0 19.098-8.209 44.902-24.405 76.689a732.814 732.814 0 0 1-55.091 88.747c-20.804 29.346-41.6 55.637-55.381 72.533a1511.437 1511.437 0 0 1-12.22 14.78 8.642 8.642 0 0 1-13.004 0 1513.93 1513.93 0 0 1-12.22-14.78c-13.781-16.887-34.577-43.179-55.381-72.533a732.814 732.814 0 0 1-55.091-88.747c-16.213-31.787-24.405-57.591-24.405-76.689-.005-61.809 36.959-117.627 93.867-141.747a154.58 154.58 0 0 1 119.552 0 8.535 8.535 0 1 0 6.664-15.718c-86.898-36.652-187.056 4.062-223.735 90.948a170.04 170.04 0 0 0-13.414 66.517c0 21.811 8.841 50.219 26.266 84.48a749.234 749.234 0 0 0 56.368 90.812z" transform="translate(0 -1)"/><path d="M256.003 99.151c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533c-40.71-.001-75.752 28.757-83.695 68.685-7.943 39.928 13.426 79.906 51.037 95.486 37.611 15.58 80.99 2.421 103.608-31.428 22.618-33.849 18.175-78.962-10.611-107.749a8.534 8.534 0 1 0-12.066 12.066c23.03 23.029 26.585 59.118 8.492 86.198-18.093 27.08-52.796 37.608-82.885 25.146-30.089-12.462-47.185-44.444-40.833-76.387s34.385-54.95 66.953-54.951zM508.786 470.957l-52.48-93.867a26.522 26.522 0 0 0-23.219-13.406H372.27c-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533h60.817a9.464 9.464 0 0 1 8.337 4.659l52.463 93.867a7.68 7.68 0 0 1-.077 7.885 9.387 9.387 0 0 1-8.26 4.523H26.457a9.387 9.387 0 0 1-8.252-4.523 7.681 7.681 0 0 1-.077-7.885l52.463-93.867a9.454 9.454 0 0 1 8.328-4.659h60.817c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533H78.92a26.537 26.537 0 0 0-23.236 13.406L3.212 470.957a24.748 24.748 0 0 0 .265 24.841 26.284 26.284 0 0 0 22.98 12.954H485.55a26.282 26.282 0 0 0 22.972-12.954 24.746 24.746 0 0 0 .264-24.841z" transform="translate(0 -1)"/><path d="M418.137 406.351h-34.133a8.583 8.583 0 0 0-4.736 1.434l-25.6 17.067a8.535 8.535 0 0 0 9.472 14.2l23.424-15.633h31.573a8.533 8.533 0 0 0 8.533-8.533 8.533 8.533 0 0 0-8.533-8.535zM366.937 466.084a8.533 8.533 0 0 0 8.533 8.533h68.267c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533H375.47a8.533 8.533 0 0 0-8.533 8.533zM153.603 440.484a8.533 8.533 0 0 0 4.745-15.633l-25.6-17.067a8.586 8.586 0 0 0-4.745-1.434H93.87a8.533 8.533 0 0 0 0 17.066h31.573l23.45 15.633a8.516 8.516 0 0 0 4.71 1.435zM68.27 457.551c-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533h68.267c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533H68.27z" transform="translate(0 -1)"/></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}

	&__sleeps {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001"><path d="M175.839 404.814a7.5 7.5 0 0 0-7.5 7.5v32.064a7.5 7.5 0 0 0 15 0v-32.064a7.5 7.5 0 0 0-7.5-7.5zM336.161 404.814a7.5 7.5 0 0 0-7.5 7.5v32.064a7.5 7.5 0 0 0 15 0v-32.064a7.5 7.5 0 0 0-7.5-7.5zM115.063 245.284c-17.416-8.708-50.069-8.808-51.451-8.808a7.5 7.5 0 0 0-.002 15c8.438.005 32.923 1.313 44.745 7.224a7.502 7.502 0 0 0 6.708-13.416zM39.564 388.782a7.5 7.5 0 0 0-7.5 7.5v48.097a7.5 7.5 0 0 0 15 0v-48.097a7.5 7.5 0 0 0-7.5-7.5z"/><path d="M494.56 360.772l-30.372-15.184a.515.515 0 0 1-.286-.462l.002-15.265c12.468-8.585 21.293-22.157 23.501-38.085 5.608-9.691 8.563-20.637 8.563-31.767 0-20.755-9.994-39.217-25.419-50.835a32.187 32.187 0 0 0 1.371-9.286c0-19.606-17.749-35.557-39.564-35.557s-39.564 15.951-39.564 35.557c0 3.173.462 6.28 1.366 9.289a63.936 63.936 0 0 0-20.815 27.126c-1.859-18.269-3.795-39.866-5.652-65.024-2.45-33.194-14.388-61.226-34.522-81.064C313.188 70.527 286.503 60.121 256 60.121s-57.188 10.406-77.167 30.093c-20.134 19.839-32.072 47.871-34.522 81.064a2659.702 2659.702 0 0 1-1.974 25.117H71.629c-26.236 0-47.581 21.345-47.581 47.581v.447c0 6.11 1.444 12.229 4.177 17.694l3.839 7.679v12.245c0 19.406 9.563 36.819 24.048 47.298v10.832a3.141 3.141 0 0 1-2.268 3.007l-30.963 8.847C9.409 355.873 0 368.347 0 382.358v62.021a7.5 7.5 0 0 0 15 0v-62.021c0-7.35 4.936-13.893 12.002-15.912l30.964-8.847a17.81 17.81 0 0 0 3.188-1.266l19.007 19.007v69.039a7.5 7.5 0 0 0 15 0V375.34l19.14-19.14c2.558 1.255 5.107 1.985 6.975 2.519l7.603 2.172c-10.303 7.326-16.653 19.275-16.653 32.232v51.254a7.5 7.5 0 0 0 15 0v-51.254a24.577 24.577 0 0 1 14.641-22.47l42.88-18.939a79.55 79.55 0 0 0 71.254 44.051c30.472 0 57.838-17.104 71.267-44.045l42.867 18.933a24.577 24.577 0 0 1 14.641 22.47v51.254a7.5 7.5 0 0 0 15 0v-51.254c0-9.594-3.487-18.632-9.472-25.658l11.607-5.803 8.713 8.28a31.454 31.454 0 0 0 21.733 8.686c7.818 0 15.64-2.896 21.732-8.686l8.712-8.279 25.052 12.525c5.643 2.821 9.148 8.493 9.148 14.802v55.388a7.5 7.5 0 0 0 15 0V388.99c-.001-12.026-6.684-22.839-17.441-28.218zM432.355 179.33c13.544 0 24.564 9.222 24.564 20.557 0 .475-.038.946-.076 1.416a63.256 63.256 0 0 0-24.488-4.908 63.25 63.25 0 0 0-24.484 4.907c-.039-.47-.08-.94-.08-1.415 0-11.335 11.02-20.557 24.564-20.557zM87.662 361.628l-17.09-17.09c.353-1.408.542-2.873.542-4.368v-3.164a52.542 52.542 0 0 0 16.569 2.648 55.7 55.7 0 0 0 16.525-2.498v3.011c0 1.627.167 3.103.464 4.451l-17.01 17.01zm-1.255-36.995c-21.694-.649-39.343-19.757-39.343-42.592v-14.016a7.496 7.496 0 0 0-.792-3.354l-4.631-9.262a24.7 24.7 0 0 1-2.593-10.986v-.447c0-17.965 14.616-32.581 32.581-32.581h64.646v31.135c0 5.031-1.189 10.07-3.44 14.57l-3.785 7.57a7.499 7.499 0 0 0-.792 3.354v16.032c0 11.074-4.378 21.422-12.328 29.136-7.946 7.71-18.437 11.777-29.523 11.441zm62.683 26.432l-23.693-6.769c-6.19-1.768-6.189-2.458-6.189-4.127l.002-10.333a56.309 56.309 0 0 0 7.168-5.879 56.577 56.577 0 0 0 4.24-4.611 15.378 15.378 0 0 0 5.439 6.124c6.012 3.893 17.357 10.36 34.041 16.316l-21.008 9.279zM256 380.766a64.581 64.581 0 0 1-57.523-35.115l10.917-4.822a23.544 23.544 0 0 0 14.025-21.526v-17.996c10.077 4.049 21.073 6.282 32.581 6.282s22.503-2.233 32.581-6.282v17.996a23.543 23.543 0 0 0 14.025 21.526l10.915 4.821c-11.013 21.499-33.028 35.116-57.521 35.116zm65.034-48.196l-12.368-5.463a8.536 8.536 0 0 1-5.085-7.805v-25.785c24.102-15.637 40.081-42.782 40.081-73.59v-14.063c0-9.14-3.886-17.762-10.662-23.654-15.069-13.106-49.18-35.977-108.318-41.891a7.5 7.5 0 1 0-1.492 14.926c55.005 5.5 86.242 26.347 99.967 38.284 3.499 3.042 5.505 7.539 5.505 12.335v14.063c0 40.065-32.596 72.661-72.661 72.661s-72.661-32.596-72.661-72.661v-6.274c0-2.882 1.598-5.522 4.274-7.063 9.377-5.399 21.743-15.401 27.406-32.388a7.5 7.5 0 0 0-14.231-4.743c-4.172 12.516-13.538 20.031-20.66 24.132-7.272 4.187-11.79 11.875-11.79 20.063v6.274c0 30.809 15.978 57.953 40.081 73.59v25.785a8.537 8.537 0 0 1-5.085 7.805l-12.369 5.463c-24.156-6.463-39.634-15.08-46.757-19.691-.142-.092-.222-.197-.182-.434 2.616-15.464 9.338-60.069 15.244-140.063 2.178-29.515 12.583-54.235 30.09-71.485C206.476 84.035 229.519 75.121 256 75.121s49.524 8.914 66.639 25.777c17.507 17.25 27.912 41.969 30.091 71.484 5.905 79.991 12.627 124.598 15.244 140.063.04.238-.04.343-.183.435-7.133 4.617-22.611 13.229-46.757 19.69zm79.773 12.555a.513.513 0 0 1-.285.462l-23.498 11.749c-.279-.131-.547-.278-.829-.403l-34.291-15.145c16.676-5.954 28.019-12.418 34.039-16.316a15.417 15.417 0 0 0 6.821-15.528l-.177-1.058a55.478 55.478 0 0 0 18.22 20.975v15.264zm42.946 13.945c-6.391 6.076-16.405 6.075-22.798 0l-6.971-6.624a15.52 15.52 0 0 0 1.822-7.321v-7.981a55.758 55.758 0 0 0 16.548 2.509c5.753 0 11.31-.884 16.547-2.509l-.001 7.979c0 2.619.646 5.119 1.823 7.324l-6.97 6.623zm-11.398-34.418c-20.766 0-38.11-15.55-40.343-36.171a7.503 7.503 0 0 0-1.065-3.117c-4.714-7.677-7.205-16.445-7.205-25.357 0-26.804 21.807-48.612 48.613-48.612 26.805 0 48.613 21.808 48.613 48.613a48.12 48.12 0 0 1-2.466 15.171c-21.296-21.635-58.759-30.114-60.565-30.512a7.503 7.503 0 0 0-9.114 7.324c0 .049-.342 5.252-5.819 10.729a7.5 7.5 0 0 0 0 10.606 7.5 7.5 0 0 0 10.606 0c4.218-4.218 6.696-8.499 8.15-12.114 12.62 3.749 38.813 13.217 50.568 29.836-3.336 19.329-20.08 33.604-39.973 33.604z"/><path d="M472.436 398.692a7.5 7.5 0 0 0-7.5 7.5v38.187a7.5 7.5 0 0 0 15 0v-38.187a7.5 7.5 0 0 0-7.5-7.5z"/></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}

	&__beds {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"><path d="M456 224c-14.133 0-24 6.301-24 15.32v27.505C419.333 241.793 399.85 224 376 224H152a7.998 7.998 0 0 0-8 7.996v48.071c.045-13.052-5.201-26.075-15.586-35.583-19.552-17.902-49.915-16.564-67.816 2.989-16.764 18.309-16.801 46.38-.086 64.734A23.345 23.345 0 0 0 48 317.582V115.199C48 104.434 37.461 96 24 96s-24 8.434-24 19.199v345.602C0 471.566 10.539 480 24 480s24-8.434 24-19.199V408h384v56.68c0 9.019 9.867 15.32 24 15.32s24-6.301 24-15.32V239.32c0-9.019-9.867-15.32-24-15.32zM32 460.801c-.086.656-2.773 3.199-8 3.199-5.25 0-7.922-2.543-8-3.199V115.199c.078-.656 2.75-3.199 8-3.199 5.227 0 7.914 2.543 8 3.199v345.602zM160 240h216c30.172 0 53.172 44.926 55.758 88H160v-88zm-16 40.083v38.56a23.523 23.523 0 0 0-12.597-6.342c8.39-9.164 12.553-20.701 12.597-32.218zM96 248c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32s-32-14.327-32-32c.019-17.665 14.335-31.981 32-32zm336 144H48v-48.023A8.003 8.003 0 0 0 55.375 336a7.862 7.862 0 0 1 7.695-8h64.61a7.862 7.862 0 0 1 7.695 8 7.998 7.998 0 0 0 7.996 8H432v48zm32 70.594a23.459 23.459 0 0 1-16 0V241.406a23.459 23.459 0 0 1 16 0v221.188z"/><path d="M137.078 176l29.07-34.879a8 8 0 0 0 1.094-8.516A7.997 7.997 0 0 0 160 128h-48v16h30.922l-29.07 34.879A8.002 8.002 0 0 0 120 192h48v-16h-30.922zM224.359 136l45.953-59.09a7.998 7.998 0 0 0 .875-8.426A8.007 8.007 0 0 0 263.999 64h-64v16h47.641l-45.953 59.09A7.996 7.996 0 0 0 208 152.001h64v-16h-47.641zM328 96l62.398-83.199A7.999 7.999 0 0 0 384 0h-72v16h56l-62.398 83.199a8.005 8.005 0 0 0-.758 8.379A8.002 8.002 0 0 0 312 112h80V96h-64z"/></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}

	&__bathrooms {
		margin-bottom: 8px !important;
		padding-left: 40px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M486.4 273.067h-8.533v-179.2c0-42.667-34.133-76.8-76.8-76.8-37.77 0-64.935 28.006-67.974 69.041-19.829 3.748-34.426 20.826-34.426 41.892 0 5.12 3.413 8.533 8.533 8.533h68.267c5.12 0 8.533-3.413 8.533-8.533 0-20.833-14.274-37.769-33.767-41.767 2.55-27.116 18.836-52.1 50.834-52.1 33.28 0 59.733 26.453 59.733 59.733v179.2H203.975c-3.86-19.681-20.878-34.133-41.841-34.133-8.533-10.24-20.48-17.067-34.133-17.067-16.213 0-30.72 9.387-37.547 23.04-6.827-3.413-14.507-5.973-22.187-5.973-20.963 0-37.981 14.452-41.841 34.133H25.6c-14.507 0-25.6 11.093-25.6 25.6 0 14.507 11.093 25.6 25.6 25.6h10.255l23.025 91.307c6.827 26.453 30.72 45.227 58.027 45.227h6.827l-11.093 22.187c-2.56 4.267-.853 9.387 3.413 11.093.853.853 2.56.853 3.413.853 3.413 0 5.973-1.707 7.68-4.267L142.08 460.8h236.8l14.507 29.013c1.707 3.413 4.267 5.12 7.68 5.12 1.707 0 2.56 0 3.413-1.707 3.413-1.707 5.12-6.827 3.413-11.093l-10.689-21.379c26.419-.938 49.266-19.39 55.916-44.328l23.24-92.16h10.04c14.507 0 25.6-11.093 25.6-25.6 0-14.506-11.093-25.599-25.6-25.599zm-120.32-153.6h-48.64c3.413-10.24 13.653-17.067 24.747-17.067s20.48 6.827 23.893 17.067zM68.267 256c7.68 0 14.507 3.413 20.48 9.387 1.707 2.56 5.12 3.413 8.533 2.56s5.12-3.413 5.973-6.827c2.56-12.8 12.8-22.187 25.6-22.187 9.387 0 17.92 4.267 22.187 12.8 1.707 3.413 5.973 5.12 9.387 4.267h2.56c11.093 0 20.48 6.827 23.893 17.067H44.373C47.787 262.827 57.173 256 68.267 256zM437.76 411.307c-5.12 18.773-22.187 32.427-41.813 32.427H117.76c-19.627 0-36.693-13.653-41.813-32.427l-22.187-87.04h404.48l-20.48 87.04zM486.4 307.2H25.6c-5.12 0-8.533-3.413-8.533-8.533s3.413-8.533 8.533-8.533h460.8c5.12 0 8.533 3.413 8.533 8.533s-3.413 8.533-8.533 8.533z"/><path d="M307.2 174.933c5.12 0 8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v4.267c0 5.12 3.413 8.533 8.533 8.533zM307.2 214.187c5.12 0 8.533-4.267 8.533-8.533v-9.387c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v9.387c0 5.119 3.413 8.533 8.533 8.533zM307.2 247.467c5.12 0 8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v4.267c0 5.119 3.413 8.533 8.533 8.533zM341.333 174.933c5.12 0 8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533-5.12 0-8.533 3.413-8.533 8.533v4.267c0 5.12 3.413 8.533 8.533 8.533zM332.8 205.653c0 5.12 3.413 8.533 8.533 8.533 5.12 0 8.533-4.267 8.533-8.533v-9.387c0-5.12-3.413-8.533-8.533-8.533-5.12 0-8.533 3.413-8.533 8.533v9.387zM332.8 238.933c0 5.12 3.413 8.533 8.533 8.533 5.12 0 8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533-5.12 0-8.533 3.413-8.533 8.533v4.267zM375.467 174.933c5.12 0 8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v4.267c-.001 5.12 3.413 8.533 8.533 8.533zM366.933 205.653c0 5.12 3.413 8.533 8.533 8.533S384 209.92 384 205.653v-9.387c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v9.387zM366.933 238.933c0 5.12 3.413 8.533 8.533 8.533s8.533-3.413 8.533-8.533v-4.267c0-5.12-3.413-8.533-8.533-8.533s-8.533 3.413-8.533 8.533v4.267z"/>></svg>');
			background-size: 20px 20px;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 2px;
			left: 0;
			opacity: 0.4;
		}
	}
}
