////
//// FLEXBOX CONTAINER - INLINE
//// @include flexbox-container--inline();
////

@mixin flexbox-container--inline {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}