////
//// FLEXBOX ITEM - AUTO
//// @include flexbox-item--auto();
////

@mixin flexbox-item--auto() {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    width: auto;
}