<?xml version="1.0" encoding="utf-8"?>
<Media Key="eafc6710-a4e5-4207-8b64-d9ac905bef86" Alias="Background Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackgroundImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-23T07:11:12</CreateDate>
    <NodeName Default="Background Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>