<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9bf8740-e902-48d8-ba80-8e215ec4fcad" Alias="Country Life" Level="2">
  <Info>
    <Parent Key="92b360ed-7f22-4457-a345-30bebb4fc7e7">Press</Parent>
    <Path>/Press/CountryLife</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T06:17:02</CreateDate>
    <NodeName Default="Country Life" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0dl5kic/country-life.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>