<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d0b2514-3a87-45d2-9a7b-270d5a3d628b" Alias="Destination Banner" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/DestinationBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-23T13:28:17</CreateDate>
    <NodeName Default="Destination Banner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cisbxhmh/destination-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>