<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1b28451-903f-43e5-9adf-1f87dad44067" Alias="Financial Times" Level="2">
  <Info>
    <Parent Key="92b360ed-7f22-4457-a345-30bebb4fc7e7">Press</Parent>
    <Path>/Press/FinancialTimes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T06:17:02</CreateDate>
    <NodeName Default="Financial Times" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k4clfmj5/financial-times.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>