<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bf99202-8a1d-4260-adfc-698586ba38b6" Alias="Home Banner" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/HomeBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-23T07:12:44</CreateDate>
    <NodeName Default="Home Banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/asjpsoy3/home-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>