<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dc4e622-13a5-40be-a9c4-672fe48eaf5c" Alias="House Garden" Level="2">
  <Info>
    <Parent Key="92b360ed-7f22-4457-a345-30bebb4fc7e7">Press</Parent>
    <Path>/Press/HouseGarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T06:17:02</CreateDate>
    <NodeName Default="House Garden" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ettmi1nf/house-garden.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>