<?xml version="1.0" encoding="utf-8"?>
<Media Key="383b7a8f-d4c9-4cb5-a59c-f0cae8735c9e" Alias="How We Are Different" Level="2">
  <Info>
    <Parent Key="f547e86b-428e-4d2b-a4aa-a6fe90cfc186">Scenery</Parent>
    <Path>/Scenery/HowWeAreDifferent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-23T08:39:31</CreateDate>
    <NodeName Default="How We Are Different" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rf3dwogj/how-we-are-different.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>