<?xml version="1.0" encoding="utf-8"?>
<Media Key="6965d276-34cf-4a69-aa68-35ee20f2ea50" Alias="Journal Article" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/JournalArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T00:39:32</CreateDate>
    <NodeName Default="Journal Article" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/odjgk0op/journal-article.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>