<?xml version="1.0" encoding="utf-8"?>
<Media Key="4388a201-a9f8-46ea-94e7-cc828ee3fd71" Alias="Journal 4" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/Journal4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T03:10:58</CreateDate>
    <NodeName Default="Journal 4" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a4riqq5y/journal-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>