<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70" Alias="Nick Cookson" Level="2">
  <Info>
    <Parent Key="1f365d50-7516-4bcb-8eba-7c4bf51f8858">Staff Photos</Parent>
    <Path>/StaffPhotos/NickCookson</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-23T20:45:02</CreateDate>
    <NodeName Default="Nick Cookson" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wcuaahir/nick-cookson.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>