<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b360ed-7f22-4457-a345-30bebb4fc7e7" Alias="Press" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Press</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-24T06:11:07</CreateDate>
    <NodeName Default="Press" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>