<?xml version="1.0" encoding="utf-8"?>
<Media Key="f547e86b-428e-4d2b-a4aa-a6fe90cfc186" Alias="Scenery" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Scenery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-23T08:38:50</CreateDate>
    <NodeName Default="Scenery" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>