<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f365d50-7516-4bcb-8eba-7c4bf51f8858" Alias="Staff Photos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StaffPhotos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-23T20:43:45</CreateDate>
    <NodeName Default="Staff Photos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>