<?xml version="1.0" encoding="utf-8"?>
<Media Key="56bb6dd5-0f2f-403e-8a8c-6c16b46c4f65" Alias="The Best Restaurants" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/TheBestRestaurants</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T03:10:58</CreateDate>
    <NodeName Default="The Best Restaurants" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0nwlwvrp/the-best-restaurants.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>