<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccb235b6-ec37-44c2-b8e3-c5295d9e72c9" Alias="The Best Sights" Level="2">
  <Info>
    <Parent Key="eafc6710-a4e5-4207-8b64-d9ac905bef86">Background Images</Parent>
    <Path>/BackgroundImages/TheBestSights</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T03:10:58</CreateDate>
    <NodeName Default="The Best Sights" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wa0lftbx/the-best-sights.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>