<?xml version="1.0" encoding="utf-8"?>
<Media Key="b91e2adc-6b87-4336-a531-fca91cab34ec" Alias="Vanity Fair" Level="2">
  <Info>
    <Parent Key="92b360ed-7f22-4457-a345-30bebb4fc7e7">Press</Parent>
    <Path>/Press/VanityFair</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T06:17:02</CreateDate>
    <NodeName Default="Vanity Fair" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ivb3omh/vanity-fair.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>