<?xml version="1.0" encoding="utf-8"?>
<Media Key="c68dad9c-622b-406f-95be-fdfe8380f382" Alias="What We Do 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatWeDo2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T10:05:21</CreateDate>
    <NodeName Default="What We Do 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tkwj1rrl/what-we-do-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>