<?xml version="1.0" encoding="utf-8"?>
<Macro Key="2416c5c3-04e1-4a2c-ac27-ad22816c4809" Alias="EnquiryForm" Level="0">
  <Name>EnquiryForm</Name>
  <MacroSource>~/Views/MacroPartials/Forms/EnquiryForm.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>