<?xml version="1.0" encoding="utf-8"?>
<Macro Key="c2d7e516-d2c3-4926-bd94-d38e08d3d48a" Alias="NewsletterForm" Level="0">
  <Name>NewsletterForm</Name>
  <MacroSource>~/Views/MacroPartials/Forms/NewsletterForm.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>