<?xml version="1.0" encoding="utf-8"?>
<Macro Key="6fbf1a74-a60e-4fc8-bb31-0e39a2ee758d" Alias="PressBox" Level="0">
  <Name>PressBox</Name>
  <MacroSource>~/Views/MacroPartials/PressBox.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>true</CachedByPage>
  <CachedDuration>604800</CachedDuration>
  <Properties>
    <Property>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    </Property>
    <Property>
      <Name>Verbose</Name>
      <Alias>verbose</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
  </Properties>
</Macro>