<?xml version="1.0" encoding="utf-8"?>
<Macro Key="0bf81d13-bf14-4ff4-8482-ca8edbe4965d" Alias="RecentJournalArticles" Level="0">
  <Name>RecentJournalArticles</Name>
  <MacroSource>~/Views/MacroPartials/RecentJournalArticles.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>true</CachedByPage>
  <CachedDuration>604800</CachedDuration>
  <Properties>
    <Property>
      <Name>Number of Articles</Name>
      <Alias>numberOfArticles</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
  </Properties>
</Macro>