<?xml version="1.0" encoding="utf-8"?>
<Macro Key="7b24c956-4272-4695-8d35-5a01cfdb9afe" Alias="SearchForm" Level="0">
  <Name>SearchForm</Name>
  <MacroSource>~/Views/MacroPartials/Forms/SearchForm.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>