<?xml version="1.0" encoding="utf-8"?>
<Content Key="15d9cc2c-2cab-4b11-9c85-fcb96498eab4" Alias="A Guide to Greece" Level="3">
  <Info>
    <Parent Key="b71fd7fd-5eec-4ee6-ad68-95b0e4c8ef2d">Journal</Parent>
    <Path>/VillaCollective/Journal/AGuideToGreece</Path>
    <Trashed>false</Trashed>
    <ContentType>journalArticle</ContentType>
    <CreateDate>2023-09-25T03:27:39</CreateDate>
    <NodeName Default="A Guide to Greece" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a35db7a-2182-41f6-b505-56f5c0e20b0c">JournalArticle</Template>
  </Info>
  <Properties>
    <articleType>
      <Value><![CDATA[[
  "Travel Guides"
]]]></Value>
    </articleType>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "2ab7d1a3-e744-407b-87b4-6050a27f0ce3",
    "mediaKey": "ccb235b6-ec37-44c2-b8e3-c5295d9e72c9"
  }
]]]></Value>
    </backgroundImage>
    <displayJournal>
      <Value><![CDATA[1]]></Value>
    </displayJournal>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <mainContent>
      <Value><![CDATA[<p><!-- Start --></p>
<div class="the-best-restaurants">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="the-best-restaurants-cnt">
<h2>THE BEST RESTAURANTS</h2>
<p>It’s no secret that Italy offers some of the best food on the planet, so picking just three restaurants is a challenge, here are our personal favourites…</p>
<p><strong>La Pineta</strong>, Tuscany, is a Michelin starred seafood restaurant, disguised as an unassuming beach bar. Head chef Luciano Zazzeri has designed a mouth-watering tasting menu that you can enjoy with sea views.</p>
<p><strong>Ristorante Granaro Del Monte</strong>, is the oldest restaurant in Umbria, opening in 1850. Traditional dishes are expertly crafted using local cuisine. If you like food, culture and history – this place is for you.</p>
<p><strong>Il Bastione</strong>, Puglia, is a gem. Medieval architecture is set against the deep blue ocean that you can admire from the al fresco terrace whilst devouring the freshest sea food. Chef, Marcello Caricola hand picks his ingredients from the market twice a day, you can’t get fresher than that.</p>
</div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="the-best-restaurants-img" style="background-image: url('/images/journal/the-best-restaurants.jpg');"></div>
</div>
</div>
</div>
</div>
<p><!-- End --></p>
<p> </p>
<p><!-- Start --></p>
<div class="the-best-places-visit">
<div class="container">
<div class="row">
<div class="col-lg-12 animate__animated animate__slideInUp">
<div class="the-best-places-visit-img" style="background-image: url('/images/journal/journal-article.jpg');"></div>
<div class="the-best-places-visit-cnt">
<h2>the best places to visit</h2>
<p>Your Italian adventure wouldn’t be complete without stopping off at some of the beautiful towns where you can soak up the local culture, history and flavours…</p>
<p><strong>Siena</strong>, Tuscany, is a classic medieval hill side town, home to the stunning Piazza del Camp overlooked by a striking bell tower, the Torre del Mangia. The streets off the piazza are alive with tradition, the perfect place to explore and get lost.</p>
<p><strong>Spello</strong>, Umbria is a picture-perfect town that epitomises medieval Roman architecture. The ancient influence is stunning and will delight history buffs.</p>
<p><strong>Vieste</strong> in Gargano, Puglia is a beautiful fishing village where you’ll find rugged cliffs, secret caves and stunning beaches. We recommend Mattinata beach for scenery that will really blow you away.</p>
</div>
</div>
</div>
</div>
</div>
<p><!-- End --></p>
<p> </p>
<p><!-- Start --></p>
<div class="the-best-sights">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="the-best-sights-img" style="background-image: url('/images/journal/the-best-sights.jpg');"></div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="the-best-sights-cnt">
<h2>THE BEST SIGHTS TO SEE</h2>
<p>Italy is full of fantastic day trips and activities, here are our top picks that will take you off the beaten track…</p>
<p><strong>Canyon Park</strong>, Tuscany is a fantastic day out for the while family. Not only is it beautiful, with its crystal water river, there are a plethora of activities from yoga to zip lining.</p>
<p><strong>Grotto of Monte Cucco</strong>, Umbria is a must-see natural wonder. Explore the caves and underground charm of this awe-inspiring attraction.</p>
<p><strong>Bari Old Town</strong>, Puglia is where history meets cosmopolitan living. Plenty of bars and restaurants to enjoy plus the Old Town to explore, behind its old city walls. Top tip: the focaccia here is sensational, so seek this out and order as much as you can stomach!</p>
</div>
</div>
</div>
</div>
</div>
<p><!-- End --></p>]]></Value>
    </mainContent>
    <summaryText>
      <Value><![CDATA[Visiting the South of France this summer? Make sure you read this insider guide first to get the very best tips for enjoying this romantic region...]]></Value>
    </summaryText>
    <textBlock>
      <Value><![CDATA[<h1>GET READY FOR AN ITALIAN ADVENTURE</h1>]]></Value>
    </textBlock>
    <titleSentence>
      <Value><![CDATA[ITALY IN AUTUMN IS SIMPLY MAGNIFICENT, AND A VISIT IS HIGHLY RECOMMENDED.]]></Value>
    </titleSentence>
    <topContent>
      <Value><![CDATA[<div class="container">
<div class="row justify-content-center">
<div class="col-xxl-9">
<div class="section-head text-center animate__animated animate__slideInUp">
<p>To help you make the most out of the adventure we’ve curated the ultimate guide of where to eat, what to see and where to go.</p>
<p>We’re honing on key regions, Umbria, Tuscany and Puglia, where the cuisine, scenery and ambience will take your breath away.</p>
</div>
</div>
</div>
</div>]]></Value>
    </topContent>
  </Properties>
</Content>