<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9362298-bb1a-47ce-ba93-a77c952761a9" Alias="About Us" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-09-23T13:59:40</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9d52e72d-66cf-43f0-aca6-874f9b75aff4">AboutUs</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "1e90cd28-f1a3-4de9-94cc-7c56c4484fdb",
    "mediaKey": "44877905-16ac-41b8-92d7-01dfdb8d7eb2"
  }
]]]></Value>
    </backgroundImage>
    <howBottomContent>
      <Value><![CDATA[<div class="how-can-we-cnt"><a href="/enquiry-form" class="thm-btn-3">ENQUIRE</a>
<h6>CALL A SPECIALIST</h6>
<p>You can call us 24 hours a day on: <a href="tel:+442039501588">+44 (0) 203 950 1588</a>. Opening hours are Mon - Fri 8:30am - 6:00pm</p>
</div>]]></Value>
    </howBottomContent>
    <howLine1>
      <Value><![CDATA[HOW CAN WE HELP?]]></Value>
    </howLine1>
    <howLine2>
      <Value><![CDATA[LET US HELP YOU PLAN YOUR EXPERIENCE]]></Value>
    </howLine2>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <mainContent>
      <Value><![CDATA[<div class="what-we-do">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="what-we-do-img" style="background-image: url('/images/about-us/what-we-do.jpg');">
<div class="what-we-do-img-sub"><img src="?rmode=max&amp;width=500" alt="" width="500" height="334" data-udi="umb://media/c68dad9c622b406f95befdfe8380f382"></div>
</div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="what-we-do-cnt">
<h2>WHAT WE DO</h2>
<p>We source and inspect the best rental properties in the Mediterranean through an extensive network of contacts. While our main focus is on villas in Greece, we have an expanding portfolio across Europe and Morocco where the same principles apply.</p>
<p>Our team works closely with each client to understand their exacting requirements and recommend suitable villas. We continue to liaise with each client in the lead up to their holidays and cooperate with our specialist suppliers to help plan bespoke services. Transfers, car hire, boat hire, crewed yachts and private chefs are organised regularly in addition to the villa rental, with optional extras such as spa treatments and shopping services too.</p>
</div>
</div>
</div>
</div>
</div>
<div class="how-we-do">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="how-we-do-cnt">
<h2>HOW WE DO IT DIFFERENTLY</h2>
<p>Firstly, we are extremely selective in the kind of villas we agree to include in our portfolio. Most are unique, private holiday homes, built with love by owners as places to live. An exceptional location, high quality furnishings and excellent staff are priorities.</p>
<p>Secondly, we only work with villas where we have direct contact with their owners and managers with whom we build relationships through transparent communication. Being a boutique operation means personal service goes beyond what most larger villa companies offer. We also provide a more thorough trip planning service than most of our smaller competitors.</p>
</div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="how-we-do-img" style="background-image: url('/media/wanb5cbi/differently.jpg');"> </div>
</div>
</div>
</div>
</div>]]></Value>
    </mainContent>
    <textBlock>
      <Value><![CDATA[<h1>ABOUT US</h1>
<p>The Villa Collective was born out of a lifetime of experience.</p>]]></Value>
    </textBlock>
    <topContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b8731361a2374a0f82d4a4bbe1ba91c2",
        "areas": [
          {
            "key": "5a866301-b902-4722-86f1-952b97eb33d6",
            "items": [
              {
                "contentUdi": "umb://element/feb09f7f4c2d44f6a326d24163400d7e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "31b2bd5e-5aeb-4c5b-9174-8bc0635af945",
            "items": [
              {
                "contentUdi": "umb://element/f6caa715028645048cd66903cf7d1220",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ea28dde4-ea54-4e87-ae25-7e55ebf7fae6",
      "udi": "umb://element/b8731361a2374a0f82d4a4bbe1ba91c2"
    },
    {
      "contentTypeKey": "e0f4e185-267b-429e-810d-ce9ef2df1123",
      "udi": "umb://element/feb09f7f4c2d44f6a326d24163400d7e",
      "richText": "<div class=\"who-we-are-cnt animate__animated animate__fadeInLeft\" style=\"margin-top: 35%;\">\n<h2>WHO WE ARE</h2>\n<p>Villa Collective is an independent, villa rental company specialising in high end villas for discerning clients. The founder, Nick Cookson, is based between his London and Greek homes where he heads up a small, knowledgeable team focussed on excellent, personal service. Nick inherited his passion for Greece and a love of this specialist niche of the travel industry from his family, who built the pioneering luxury villa company, Corfu Villas (now CV Villas), in the 70’s.</p>\n</div>"
    },
    {
      "contentTypeKey": "e0f4e185-267b-429e-810d-ce9ef2df1123",
      "udi": "umb://element/f6caa715028645048cd66903cf7d1220",
      "richText": "<div class=\"meet-our-team-box animate__animated animate__fadeInRight\">\n<div class=\"meet-our-team-img\" style=\"background-image: url('/images/about-us/nick-cookson.jpg');\"></div>\n<div class=\"meet-our-team-cnt\">\n<h3>NICK COOKSON</h3>\n<span>FOUNDER</span></div>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </topContent>
    <whyContent>
      <Value><![CDATA[<p>Our portfolio features an increasing number of exclusive villas which can only be rented through Villa Collective, in addition to other sought-after villas that are more widely represented.</p>
<p><span> </span></p>
<p>Our flexible approach gives clients a wider choice when booking though us and without compromising on knowledge or service. Most importantly, investing time researching destinations, inspecting villas and building a database of reliable suppliers is key to our success.</p>]]></Value>
    </whyContent>
    <whyHeaderText>
      <Value><![CDATA[WHY BOOK WITH US?]]></Value>
    </whyHeaderText>
  </Properties>
</Content>