<?xml version="1.0" encoding="utf-8"?>
<Content Key="5286e955-70a2-41a5-a864-b1e6878c0efc" Alias="Book" Level="4">
  <Info>
    <Parent Key="cd284467-5f8f-49fd-b2cb-f4822aa15a4e">Services</Parent>
    <Path>/VillaCollective/AboutUs/Services/Book</Path>
    <Trashed>false</Trashed>
    <ContentType>service1</ContentType>
    <CreateDate>2023-09-24T03:11:18</CreateDate>
    <NodeName Default="Book" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBackgroundColor>
      <Value><![CDATA[#aab1a1]]></Value>
    </serviceBackgroundColor>
    <serviceDescription>
      <Value><![CDATA[We’ll provide tailor-made quotes and help you make the best choice for your holiday. Bookings and payments are made directly with us, guaranteeing you a secure and hassle-free process.]]></Value>
    </serviceDescription>
    <serviceName>
      <Value><![CDATA[BOOK WITH CONFIDENCE]]></Value>
    </serviceName>
  </Properties>
</Content>