<?xml version="1.0" encoding="utf-8"?>
<Content Key="d93824a5-b5eb-445d-9b1e-2c4dfec48412" Alias="Collections" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/Collections</Path>
    <Trashed>false</Trashed>
    <ContentType>collections</ContentType>
    <CreateDate>2023-09-23T13:32:13</CreateDate>
    <NodeName Default="Collections" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7678abd-2362-4e0c-8c25-0e092602ce7d">Collections</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "d2cd439a-1920-4e32-803f-f31114e4bb51",
    "mediaKey": "44877905-16ac-41b8-92d7-01dfdb8d7eb2"
  }
]]]></Value>
    </backgroundImage>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <textBlock>
      <Value><![CDATA[<h1>CURATED COLLECTIONS</h1>
<p>Discover our collections of exceptional villas to rent across Europe</p>]]></Value>
    </textBlock>
  </Properties>
</Content>