<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8bdb6c2-aadf-4e7c-a486-0bf0c0df042c" Alias="Contact" Level="4">
  <Info>
    <Parent Key="cd284467-5f8f-49fd-b2cb-f4822aa15a4e">Services</Parent>
    <Path>/VillaCollective/AboutUs/Services/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>service1</ContentType>
    <CreateDate>2023-09-24T03:09:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBackgroundColor>
      <Value><![CDATA[#6e7e89]]></Value>
    </serviceBackgroundColor>
    <serviceDescription>
      <Value><![CDATA[Whatever your dream villa experience looks like – a seafront property, a tennis court or a private chef – our experienced travel specialists are here to help. Call us, send an email or fill out the enquiry form.]]></Value>
    </serviceDescription>
    <serviceName>
      <Value><![CDATA[CONTACT A SPECIALIST]]></Value>
    </serviceName>
  </Properties>
</Content>