<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b062532-fda4-4dd7-b532-e173f5bcbb96" Alias="Country Life" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/CountryLife</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:20:05</CreateDate>
    <NodeName Default="Country Life" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[A slick website.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "85a4c1e4-1b01-4c7b-8820-0e6d7ed7f75d",
    "mediaKey": "a9bf8740-e902-48d8-ba80-8e215ec4fcad"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>