<?xml version="1.0" encoding="utf-8"?>
<Content Key="567629cb-70a3-48e7-80aa-df3e0f36cd68" Alias="Destinations" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/Destinations</Path>
    <Trashed>false</Trashed>
    <ContentType>destinations</ContentType>
    <CreateDate>2023-09-23T13:26:40</CreateDate>
    <NodeName Default="Destinations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4aadeefe-7073-4ba7-b4ce-6ab0f3000ead">Destinations</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "0dd33600-4c05-4628-9c8a-65dd49ba4eb3",
    "mediaKey": "b3545d1c-ac2f-451d-8808-aac34c5d36cf"
  }
]]]></Value>
    </backgroundImage>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <textBlock>
      <Value><![CDATA[<h1>GREECE</h1>
<p>Exceptional private villas to rent in Greece</p>]]></Value>
    </textBlock>
  </Properties>
</Content>