<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7059d31-6575-4ce9-ab24-460651b9a0a3" Alias="Enquiry Form" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/EnquiryForm</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2023-09-25T16:40:08</CreateDate>
    <NodeName Default="Enquiry Form" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3619f90c-c40d-44d4-b8af-a31512c0eacd">SimplePage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[]]]></Value>
    </backgroundImage>
    <displayJournal>
      <Value><![CDATA[0]]></Value>
    </displayJournal>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <mainContent>
      <Value><![CDATA[<div class="enquiry-form">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-head text-center animate__animated animate__slideInUp"><span>MAKE AN ENQUIRY</span>
<h2>CONTACT US BY FILLING IN <br>THE FORM BELOW</h2>
<p>Call us on <a href="tel:+442039501588">+44 (0) 203 950 1588</a> or email <a href="mailto:info@villacollective.com">info@villacollective.com</a></p>
<p>Send us an instant enquiry and we will endeavour to respond to you within 24 hours</p>
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="col-lg-9 col-xl-9 col-xxl-9 animate__animated animate__slideInUp">
<?UMBRACO_MACRO macroAlias="EnquiryForm" />
</div>
</div>
</div>
</div>]]></Value>
    </mainContent>
    <textBlock>
      <Value><![CDATA[]]></Value>
    </textBlock>
  </Properties>
</Content>