<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ac3fe6d-abd8-4fbc-a2b9-e3a9ad01f29f" Alias="Financial Times" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/FinancialTimes</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:18:27</CreateDate>
    <NodeName Default="Financial Times" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[Nick Cookson's childhood summers on the Greek island of Corfu echo the simple, carefree life detailed in Gerald Durrell’s books.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "aa7e0e4c-45e6-4cd7-9cd8-492a5219ce4c",
    "mediaKey": "b1b28451-903f-43e5-9adf-1f87dad44067"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>