<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbe09f8d-05fc-4cf0-84b3-892cbe06dca0" Alias="GQ" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/GQ</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:20:33</CreateDate>
    <NodeName Default="GQ" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[From medieval chateaus to modern masterpieces, there's plenty of scope to plan the perfect holiday.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "42303f2b-9dfb-45cd-8034-dc32ed5c6e8e",
    "mediaKey": "21daafc8-b5af-435c-8585-ea10f53f8e0d"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>