<?xml version="1.0" encoding="utf-8"?>
<Content Key="4862a708-340d-4b91-b0f3-dc391b58f7cf" Alias="House &amp; Garden" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/HouseGarden</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:18:56</CreateDate>
    <NodeName Default="House &amp; Garden" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[Nick understands what is required of a villa holiday.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "ae910b17-8eb8-4cbf-974f-b2d5fcfb6544",
    "mediaKey": "6dc4e622-13a5-40be-a9c4-672fe48eaf5c"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>