<?xml version="1.0" encoding="utf-8"?>
<Content Key="b71fd7fd-5eec-4ee6-ad68-95b0e4c8ef2d" Alias="Journal" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/Journal</Path>
    <Trashed>false</Trashed>
    <ContentType>journal</ContentType>
    <CreateDate>2023-09-23T13:58:53</CreateDate>
    <NodeName Default="Journal" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8cae8e81-0eda-4579-889f-5dac6969d070">Journal</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "10b82427-4e5e-46f3-80c9-300fe0349691",
    "mediaKey": "b3545d1c-ac2f-451d-8808-aac34c5d36cf"
  }
]]]></Value>
    </backgroundImage>
    <displayJournal>
      <Value><![CDATA[1]]></Value>
    </displayJournal>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <textBlock>
      <Value><![CDATA[<h1>JOURNAL</h1>
<p>Travel advice and inspiration</p>]]></Value>
    </textBlock>
    <topContent>
      <Value><![CDATA[<div class="section-head text-center animate__animated animate__slideInUp"><span>YOUR TRAVEL JOURNAL</span>
<h2>IN NEED OF SOME INSPIRATION?</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
</div>]]></Value>
    </topContent>
  </Properties>
</Content>