<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4725242-cb40-49b0-aa71-0c3e5f28eec9" Alias="NICK COOKSON (4)" Level="4">
  <Info>
    <Parent Key="8f5904d5-2c9e-4cb7-ab0c-609b16283a97">Team</Parent>
    <Path>/VillaCollective/AboutUs/Team/NICKCOOKSON4</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2023-09-23T20:48:01</CreateDate>
    <NodeName Default="NICK COOKSON (4)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <staffName>
      <Value><![CDATA[NICK COOKSON]]></Value>
    </staffName>
    <staffPhoto>
      <Value><![CDATA[[
  {
    "key": "68b69939-95c5-4e07-9c53-411e0c41aaf3",
    "mediaKey": "1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70"
  }
]]]></Value>
    </staffPhoto>
    <staffPosition>
      <Value><![CDATA[FOUNDER]]></Value>
    </staffPosition>
  </Properties>
</Content>