<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed70705d-b356-4f5d-aae8-fd4157579cf4" Alias="NICK COOKSON (6)" Level="4">
  <Info>
    <Parent Key="8f5904d5-2c9e-4cb7-ab0c-609b16283a97">Team</Parent>
    <Path>/VillaCollective/AboutUs/Team/NICKCOOKSON6</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2023-09-23T20:48:50</CreateDate>
    <NodeName Default="NICK COOKSON (6)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <staffName>
      <Value><![CDATA[NICK COOKSON]]></Value>
    </staffName>
    <staffPhoto>
      <Value><![CDATA[[
  {
    "key": "cb9de548-0671-48c7-bf8d-8afed5a786e9",
    "mediaKey": "1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70"
  }
]]]></Value>
    </staffPhoto>
    <staffPosition>
      <Value><![CDATA[FOUNDER]]></Value>
    </staffPosition>
  </Properties>
</Content>