<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7c9128f-9e09-4709-a79b-8ca54317b6a5" Alias="NICK COOKSON (5)" Level="4">
  <Info>
    <Parent Key="8f5904d5-2c9e-4cb7-ab0c-609b16283a97">Team</Parent>
    <Path>/VillaCollective/AboutUs/Team/NICKCOOKSON5</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2023-09-23T20:48:30</CreateDate>
    <NodeName Default="NICK COOKSON (5)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <staffName>
      <Value><![CDATA[NICK COOKSON]]></Value>
    </staffName>
    <staffPhoto>
      <Value><![CDATA[[
  {
    "key": "f63490d3-fa39-4417-844f-f31252bd7b1b",
    "mediaKey": "1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70"
  }
]]]></Value>
    </staffPhoto>
    <staffPosition>
      <Value><![CDATA[FOUNDER]]></Value>
    </staffPosition>
  </Properties>
</Content>