<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7147af7-4afd-4cb8-8fe2-552d3183be3a" Alias="NICK COOKSON (3)" Level="4">
  <Info>
    <Parent Key="8f5904d5-2c9e-4cb7-ab0c-609b16283a97">Team</Parent>
    <Path>/VillaCollective/AboutUs/Team/NICKCOOKSON3</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2023-09-23T20:46:07</CreateDate>
    <NodeName Default="NICK COOKSON (3)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <staffName>
      <Value><![CDATA[NICK COOKSON]]></Value>
    </staffName>
    <staffPhoto>
      <Value><![CDATA[[
  {
    "key": "8f594600-68b7-44c3-95de-8f1eba437c5b",
    "mediaKey": "1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70"
  }
]]]></Value>
    </staffPhoto>
    <staffPosition>
      <Value><![CDATA[FOUNDER]]></Value>
    </staffPosition>
  </Properties>
</Content>