<?xml version="1.0" encoding="utf-8"?>
<Content Key="19b284ce-2c12-4c81-bff6-e9d962bf11a4" Alias="NICK COOKSON (2)" Level="4">
  <Info>
    <Parent Key="8f5904d5-2c9e-4cb7-ab0c-609b16283a97">Team</Parent>
    <Path>/VillaCollective/AboutUs/Team/NICKCOOKSON2</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2023-09-23T20:47:23</CreateDate>
    <NodeName Default="NICK COOKSON (2)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <staffName>
      <Value><![CDATA[NICK COOKSON]]></Value>
    </staffName>
    <staffPhoto>
      <Value><![CDATA[[
  {
    "key": "14d28d2f-46c3-43e5-ab15-54f3ecceaa1c",
    "mediaKey": "1d00a8b6-8c11-45f1-8cd9-e5a7f8f65e70"
  }
]]]></Value>
    </staffPhoto>
    <staffPosition>
      <Value><![CDATA[FOUNDER]]></Value>
    </staffPosition>
  </Properties>
</Content>