<?xml version="1.0" encoding="utf-8"?>
<Content Key="e49d3f2d-3c1e-4640-baee-82b4b2ee57ff" Alias="Plan" Level="4">
  <Info>
    <Parent Key="cd284467-5f8f-49fd-b2cb-f4822aa15a4e">Services</Parent>
    <Path>/VillaCollective/AboutUs/Services/Plan</Path>
    <Trashed>false</Trashed>
    <ContentType>service1</ContentType>
    <CreateDate>2023-09-24T03:09:55</CreateDate>
    <NodeName Default="Plan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBackgroundColor>
      <Value><![CDATA[#606c5b]]></Value>
    </serviceBackgroundColor>
    <serviceDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.]]></Value>
    </serviceDescription>
    <serviceName>
      <Value><![CDATA[TRIP PLANNING & CONCIERGE]]></Value>
    </serviceName>
  </Properties>
</Content>