<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e" Alias="Press" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Press</Path>
    <Trashed>false</Trashed>
    <ContentType>press</ContentType>
    <CreateDate>2023-09-24T06:15:28</CreateDate>
    <NodeName Default="Press" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressLine1>
      <Value><![CDATA[VILLA COLLECTIVE]]></Value>
    </pressLine1>
    <pressLine2>
      <Value><![CDATA[PRESS]]></Value>
    </pressLine2>
  </Properties>
</Content>