<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd284467-5f8f-49fd-b2cb-f4822aa15a4e" Alias="Services" Level="3">
  <Info>
    <Parent Key="c9362298-bb1a-47ce-ba93-a77c952761a9">About Us</Parent>
    <Path>/VillaCollective/AboutUs/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>team1</ContentType>
    <CreateDate>2023-09-24T03:00:40</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <line1>
      <Value><![CDATA[VILLA COLLECTIVE]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[OUR SERVICE]]></Value>
    </line2>
  </Properties>
</Content>