<?xml version="1.0" encoding="utf-8"?>
<Content Key="667ca1e4-1892-4319-8377-6d358d012179" Alias="Sustainability" Level="2">
  <Info>
    <Parent Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8">Villa Collective</Parent>
    <Path>/VillaCollective/Sustainability</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2023-09-24T10:36:36</CreateDate>
    <NodeName Default="Sustainability" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3619f90c-c40d-44d4-b8af-a31512c0eacd">SimplePage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "481da2d8-fea1-4912-87c5-1f7dde813ee9",
    "mediaKey": "44877905-16ac-41b8-92d7-01dfdb8d7eb2"
  }
]]]></Value>
    </backgroundImage>
    <displayJournal>
      <Value><![CDATA[0]]></Value>
    </displayJournal>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <includeSearchBar>
      <Value><![CDATA[0]]></Value>
    </includeSearchBar>
    <mainContent>
      <Value><![CDATA[<!-- Start -->
<div class="planet">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="planet-cnt">
<h2>WE CARE ABOUT<br>OUR PLANET, ITS<br>PEOPLE, THE FUTURE.</h2>
<p>We’re all aware of the negative impact global travel can have on the environment; we understand that delivering sustainable travel raises many challenges. We want to do our bit and we want to do more.</p>
<p>We’ve joined One Percent For the Planet, a global movement whose members contribute at least 1% of their annual revenue to support environmental solutions.</p>
<a class="thm-btn-3">FIND OUT MORE</a></div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="planet-img" style="background-image: url('/images/sustainability/planet.jpg');">
<div class="planet-img-cnt"><img class="img-fluid" src="/images/sustainability/planet1.png" alt="planet">
<h4>For the planet.</h4>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- End -->
<p> </p>
<!-- Start -->
<div class="albania">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInLeft">
<div class="albania-img" style="background-image: url('/images/sustainability/albania.jpg');">
<div class="albania-img-sub"><img src="/images/sustainability/albania-2.jpg" alt="albania"></div>
</div>
</div>
<div class="col-lg-6 col-xl-6 col-xxl-6 animate__animated animate__fadeInRight">
<div class="albania-cnt">
<h2>ALBANIA OVERBOARD</h2>
<p>Our founder, Nick, co-founded, Albania Overboard, an annual charity swim from Albania to Corfu to support environmental initiatives. It’s not just about words, we take action. Villa Collective not only sponsors the event but, like that Greek hero Leander who swam the Hellespont , our own Nick swims the Albanian-Corfu channel. Unlike Greek heroes he raises lots of money too!</p>
<a class="thm-btn-3">FIND OUT MORE</a></div>
</div>
</div>
</div>
</div>
<!-- End -->
<p> </p>
<?UMBRACO_MACRO macroAlias="RecentJournalArticles" numberOfArticles="2" />
<p> </p>
<!-- End -->]]></Value>
    </mainContent>
    <textBlock>
      <Value><![CDATA[<h1>WE ARE A<br>RESPONSIBLE BUSINESS</h1>]]></Value>
    </textBlock>
  </Properties>
</Content>