<?xml version="1.0" encoding="utf-8"?>
<Content Key="f868d268-0168-49ae-a9f5-f548ab300877" Alias="Vanity Fair" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/VanityFair</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:17:50</CreateDate>
    <NodeName Default="Vanity Fair" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[The collection is beautifully varied but ruthlessly vetted.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "c5bbf1ea-cf05-4e66-9f4c-dcb4581ece78",
    "mediaKey": "b91e2adc-6b87-4336-a531-fca91cab34ec"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>