<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb6b267e-a95c-49a9-a66d-8729a231b2f8" Alias="Villa Collective" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VillaCollective</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-09-23T06:10:56</CreateDate>
    <NodeName Default="Villa Collective">
      <Name Culture="en-us">Villa Collective</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3f7fa2f1-afeb-48de-b3d9-333d9c939f98">Home</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "86778d50-c011-408d-87e0-0299d7add83e",
    "mediaKey": "3bf99202-8a1d-4260-adfc-698586ba38b6"
  }
]]]></Value>
    </backgroundImage>
    <includeSearchBar>
      <Value><![CDATA[1]]></Value>
    </includeSearchBar>
    <middleContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b7b32835ace946b09cd270212b0fcd4e",
        "areas": [
          {
            "key": "9ea3d87d-2a43-4012-8bb0-66542b40f431",
            "items": [
              {
                "contentUdi": "umb://element/f74ca180d1534921bfbede623a1b2b07",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "7710cf1e-aa8c-4c51-aa92-e1c1315ffa41",
            "items": [
              {
                "contentUdi": "umb://element/331f04c6436c4ef5a16758efdf2ea2ee",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ea28dde4-ea54-4e87-ae25-7e55ebf7fae6",
      "udi": "umb://element/b7b32835ace946b09cd270212b0fcd4e"
    },
    {
      "contentTypeKey": "fa9cafdf-9726-477e-8212-9c82e0206845",
      "udi": "umb://element/f74ca180d1534921bfbede623a1b2b07",
      "image": "[\r\n  {\r\n    \"key\": \"bf24b33e-5aaa-4ead-95ef-13dad1a0dfae\",\r\n    \"mediaKey\": \"383b7a8f-d4c9-4cb5-a59c-f0cae8735c9e\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "e0f4e185-267b-429e-810d-ce9ef2df1123",
      "udi": "umb://element/331f04c6436c4ef5a16758efdf2ea2ee",
      "richText": "<div class=\"animate__animated animate__fadeInRight\">\n<div class=\"how-we-are-different-cnt\">\n<h2>HOW WE ARE DIFFERENT</h2>\n<span>MEMORABLE EXPERIENCES</span>\n<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>\n<span>UNIQUE COLLECTION</span>\n<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>\n<span>PERSONALISED SERVICE</span>\n<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>\n<a class=\"thm-btn-3\">FIND OUT MORE</a></div>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </middleContent>
    <textBlock>
      <Value><![CDATA[<h1>ESCAPE TO<br>EXCEPTIONAL LUXURY</h1>
<p>Exclusive private villas to rent in Greece, Italy, France, Spain &amp; Morocco</p>]]></Value>
    </textBlock>
    <topButtonLink>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "FIND OUT MORE",
    "url": "https://www.google.com"
  }
]]]></Value>
    </topButtonLink>
    <topHeaderText>
      <Value Culture="en-us"><![CDATA[UNPARALLELED LUXURY]]></Value>
    </topHeaderText>
    <topTextBlock>
      <Value Culture="en-us"><![CDATA[We provide an experience that exceeds the expectations of even the most discerning travelers. Our villas offer the ultimate combination of privacy, comfort, and personalised service, creating an unforgettable retreat that leaves guests feeling rejuvenated and inspired. With breathtaking views, world-class amenities, and a commitment to uncompromising quality, we invite you to discover the true meaning of bespoke luxury at our private villas.]]></Value>
    </topTextBlock>
  </Properties>
</Content>