<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e27ea36-2b5c-4ea9-afab-6820766137cb" Alias="Vogue" Level="2">
  <Info>
    <Parent Key="a3862181-a1f0-49ec-8866-0c1ff98d2b8e">Press</Parent>
    <Path>/Press/Vogue</Path>
    <Trashed>false</Trashed>
    <ContentType>pressEntity</ContentType>
    <CreateDate>2023-09-24T06:19:37</CreateDate>
    <NodeName Default="Vogue" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pressDescription>
      <Value><![CDATA[The Villa Collective's website will be enough to brighten the dreariest of January days.]]></Value>
    </pressDescription>
    <pressPhoto>
      <Value><![CDATA[[
  {
    "key": "b308694c-4656-4736-a8dc-10ab939039ea",
    "mediaKey": "ead120ca-b0f9-4421-b5ee-ce495f936cd1"
  }
]]]></Value>
    </pressPhoto>
  </Properties>
</Content>